@import play.api.mvc.RequestHeader
@(uid: String, calc: Calc)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>Calc Battle</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")" type="text/javascript"></script>
    </head>
    <body data-ws-url="@routes.Application.ws().webSocketURL()">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Calc Battle</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">ユーザ一覧<small> あなたは <strong>ユーザ@uid</strong> です</small></h5>
              </div>
              <ul id="users" class="list-group"></ul>
            </div>
          </div>
          <div class="col-md-6">
            <h1 id="question">
              <a href="#" id="start" class="btn btn-link btn-lg">クリックすると問題が表示されます</a>
            </h1>
            <input id="answer" type="text" class="form-control input-lg" autofocus />
            <span id="result"></span>
          </div>
      </div>
    </body>
</html>
